@page "/sensordata"
@using Client.Models
@using Client.Services
<h1>Sensor data</h1>
@inject ApiService ApiService

@if(temperatureData==null && lockStateData==null && !errorOcured)
{
	<p>Ładowanie danych</p>
}
else if(errorOcured)
{
	<p class="text-danger">Wystąpił błąd</p>
}
else
{
	<h2>Temperatura</h2>

}



@if(temperatureData != null && temperatureData.Any())
{
	<div>
		<canvas id="myChart"></canvas>
		<ul>@foreach(var item in temperatureData)
			{
				<li> @item.Value  @ParseData(item.EnqueuedTime)</li>
			}
		</ul>
	</div>
}



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
	const ctx = document.getElementById('myChart');

	function LoadData(label,newData)
	{
	chart.data.labels.push(label);
	chart.data.datasets.forEach((dataset) => {
	dataset.data.push(newData);
	});
	chart.update();
	}

	new Chart(ctx, {
	type: 'line'
	},
	options: {
	responsive:true,
	scales: {
	y: {
	beginAtZero: true
	}
	}
	}
	});
</script>


@code {
	private List<TemperatureData>? temperatureData;
	private LockStateData? lockStateData;
	private bool errorOcured = false;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			temperatureData = await ApiService.GetTemperatureDataAsync();
			lockStateData = await ApiService.GetLockStateDataAsync();
		}
		catch(Exception)
		{
			errorOcured = true;
		}
	}
	public async Task LoadData(){
		try
		{
			temperatureData = await ApiService.GetTemperatureDataAsync();
			lockStateData = await ApiService.GetLockStateDataAsync();
		}
		catch (Exception)
		{
			errorOcured = true;
		}
	}

	public string ParseData(DateTime date)
	{
		string day,month,hour,minute,second;

		if (date.Day < 10)
		{
			day = "0"+date.Day.ToString();
		}
		else{
			day = date.Day.ToString();
		}

		if (date.Month < 10)
		{
			month = "0" + date.Month.ToString();
		}
		else
		{
			month = date.Month.ToString();
		}

		if (date.Hour < 10)
		{
			hour = "0" + date.Hour.ToString();
		}
		else
		{
			hour = date.Hour.ToString();
		}

		if (date.Minute < 10)
		{
			minute = "0" + date.Minute.ToString();
		}
		else
		{
			minute = date.Minute.ToString();
		}

		if (date.Second < 10)
		{
			second = "0" + date.Second.ToString();
		}
		else
		{
			second = date.Second.ToString();
		}
		return $"{date.Year}-{month}-{day} {hour}:{minute}:{second}";
	}
	
}
